.galleryImage {
    position: relative;
    margin: 0rem;
    border-radius: 4px;
    height: 300px;
}

.galleryImage .description {
    width: calc(100% - 80px);
    height: calc(100% - 20px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000aa;
    margin: 0rem;
    color: #ffffff;
    pointer-events: none;
    border-radius: 4px;
    padding: 10px 40px;
    white-space: pre-wrap;
    text-align: left;
}

.galleryImage:hover .image-footer {
    opacity: 1;
}

.galleryImage .image-footer {
    width: max-content;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    background-color: #ffffff96;
    border-radius: 4px;
    opacity: 0;
    transition: opacity .2s;
}

.galleryImage .image-header {
    width: max-content;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--main);
    border-radius: 4px;
    z-index: 5;
    color: white;
    padding: 5px;
}

.galleryImage .image-header p {
    margin: 0;
}

.image {
    height: 300px;
    border-radius: 4px;
}