.App {
  text-align: center;
}

:root {
    --dark: #222;
    --grey: #474747;
    --main: #e79e15;
    --secondary: #5331ec;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

main {
    display: grid;
    grid-template-columns: max-content 1fr;
}

